body {
  font-family: "Roboto", sans-serif;
  color: #000;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.web-logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.upper-studio-logo {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.nav-link {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.contact {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.nav-link:hover,
.nav-link:focus,
.contact:hover,
.contact:focus {
  color: #2196f3;
}

.business-solutions-section {
  background: #2f303a;
}

.business-solution {
  color: #fff;
  font-family: Roboto;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36364;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.order-service {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;
  background: #2196f3;
  cursor: pointer;
}

.order-service:hover,
.order-service:focus {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.about-us {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.about-us-text {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.42px;
}

.chapter {
  text-align: center;
  color: #212121;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.my-name {
  text-align: center;
  color: #212121;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.my-job {
  color: #757575;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.48px;
}

.filter {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.48px;
  cursor: pointer;
}

.filter:hover {
  background-color: #2196f3;
  color: #fff;
}

.project {
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.web-site,
.design,
.apps,
.marketing {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.48px;
}

.bottom-studio-logo {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.location {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
}

.contact-us {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
}

.bottom {
  background: #2f303a;
}
